
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@keyframes opacidade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }

    100%{
        opacity: 100%;
    }
}


:root{
    --cor1:#E1E5EE;
    --cor2:#E1E5EE;
    --cor3:#767B91;
    --cor4:#2A324B;
    --cor5:#F7C59F;
}


body{
    background-color: var(--cor4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.caixa_fomulario{
    display: flex;
    width: 1050px;
    height: 490px;
    border-radius: 10px;
    background-color: var(--cor1);
}
.parte_laranja{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: var(--cor5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.textos{
    position: absolute;
    top: 100px;
}


.textos h1{
    animation: opacidade 3s;
    font-size: 50px;
    color: var(--cor4);
}

.textos p{
    animation: opacidade 4s;
    margin-top: 20px;
    font-size: 18px;
    color: var(--cor4);
}

.icones{
    
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 120px;
}

.icones div{
    animation: opacidade 3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px var(--cor4) solid;
    margin-left: 10px;
}

.icones>div>i{
    transition: all .35s linear;
    font-size: 35px;
    color: var(--cor3);
}

.icones>div>i:hover{
    transform: scale(1.2);
}


.parte_branca{
    width: 40%;
    height: 100%;
    background-color: var(--cor1);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.titulo_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: coral transparent;
    
}

.titulo_login h2{
    animation: opacidade 2s;
    font-size: 35px;
    color: var(--cor4);
}


.formulario{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: aquamarine transparent;
}

.formulario .campo_nome, .campo_email,.campo_senha{
    animation: opacidade 1s;
    display: flex;
    align-items: center;
    width: 336px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 55px;
    background-color: var(--cor4);
}

.campo_nome,.campo_email{
    margin-bottom: 20px;
}

.icone_user,.icone_email,.icone_senha{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 25px;
    color: var(--cor3);
    background-color: var(--cor5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}


.campo_nome input{
    width: 80%;
    background-color: var(--cor4);
    outline: none;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: var(--cor5);
    padding: 10px;
}

.campo_nome input::placeholder{
    color: var(--cor5);
}



.campo_email input{
    width: 80%;
    background-color: var(--cor4);
    outline: none;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: var(--cor5);
    padding: 10px;
}

.campo_email input::placeholder{
    color: var(--cor5);
}


.campo_senha input{
    position: relative;
    width: 70%;
    background-color: var(--cor4);
    outline: none;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: var(--cor5);
    padding: 10px;
}

.campo_senha input::placeholder{
    color: var(--cor5);
}

.campo_senha #olho{
    cursor: pointer;
    position: absolute;
    right: 60px;
    font-size: 25px;
    color: var(--cor5);
}


.formulario a{
    text-decoration: none;
}

.texto_esqueceu_senha{
    font-size: 15px;
    color: var(--cor3);
    cursor: pointer;
    gap: 20px;
    transition: all .10s linear;
}

.texto_esqueceu_senha:hover{
    color: var(--cor4);
}


.formulario input[type=submit]{
    animation: opacidade 1.1s;
    position: absolute;
    bottom: 10px;
    width: 336px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--cor4);
    color: var(--cor1);
    cursor: pointer;
    transition: all .30s linear;
}

.formulario input[type=submit]:hover{
    background-color: var(--cor3);
}

.opcao_cadastrar{
    animation: opacidade 1s;
    color: var(--cor4);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.opcao_cadastrar a{
    
    text-decoration: none;
    color: var(--cor3);
    transition: all .20s linear;
}

.opcao_cadastrar a:hover{
    color: var(--cor4);
}
